{% extends "layout.html" %} {% block body %}

<h1>Luo uusi käyttäjä</h1>
<form method="POST" action="{{ url_for('kayttajat_luo') }}">
  <table>
    <tr>
      <td>
        {{ form.nimi.label }}
      </td>
      <td>
        {{ form.nimi }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.tunnus.label }}
      </td>
      <td>
        {{ form.tunnus }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.salasana.label }}
      </td>
      <td>
        {{ form.salasana }}
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="Luo käyttäjätunnus" />
      </td>
    </tr>
  </table>
</form>
{% endblock %}
