<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Foorumi</title>
  </head>

  <body>
    {% if current_user.is_authenticated %}
    <p>Tervetuloa {{ current_user.nimi }}!</p>
    {% endif %}
    <ul>
      <li>
        <a href="/viestit">Viestit</a>
      </li>
      <li>
        <a href="/viestit/uusi">Lisää viesti</a>
      </li>
      <li>
        <a href="/tilastot">Tilastot</a>
      </li>
      <li>
        <a href="/aiheet">Aiheet</a>
      </li>
      <li>
        <a href="/ryhmat">Ryhmät</a>
      </li>
      <li>
        <a href="/kayttajat/uusi">Lisää käyttäjä</a>
      </li>
      {% if current_user.is_authenticated %}
      <li>
        <a href="{{ url_for('logout') }}">Kirjaudu ulos</a>
      </li>
      {% endif %}
    </ul>
    {% block body %}
    <p>
      Content.
    </p>
    {% endblock %}
  </body>
</html>
