{% extends "layout.html" %} {% block content %}

<h1>Viestit</h1>

<button
id="avaa_haku_nappi"
class="btn btn-primary"
data-toggle="collapse"
href="#hakulomake"
aria-expanded="false"
aria-controls="hakulomake"
onclick="this.innerHTML = this.innerHTML ==='Sulje hakulomake' ? 'Hae viestejä'"
>
  Hae viestejä
</button>
<div class="collapse" id="hakulomake">
  {{ wtf.quick_form(form, method="get", form_type="horizontal", button_map={"nappi" : "primary" })}}
</div>

<div aria-label="Viestien listauksen sivut">
    <ul class="pagination">
        </li>
        {% for sivu in range(1, viestit.pages + 1) %}
        <li {% if sivu == viestit.page %} class="active" {% endif %} >
            <a href="{{ url_for('viestit_index') }}?sivu={{ sivu }}{{ hakuparametrit }}">       
              {{ (sivu -1) * 20 + 1 }}–{{20 * sivu}}
             </a>
        </li>
        {% endfor %}
    </ul>
  </div>

  <p>
      {% if haettu_aihe or haettu_kirjoittaja or haettu_ryhma or haettu_aika_alku or haettu_aika_loppu %}
      {% if viestit.items|length > 0 %}
      Näytetään viestit
      {% else %}
      Ei löytynyt viestejä
      {% endif %}
      {% endif %}
      
      {% if haettu_aihe %}
      aiheesta {{ haettu_aihe }}
      {% endif %}
      
      {% if haettu_kirjoittaja%}
      kirjoittajalta {{haettu_kirjoittaja}}
      {% endif %}
      
      {% if haettu_ryhma %}
      ryhmän {{ haettu_ryhma }} jäseniltä
      {% endif %}

      {% if haettu_aika_alku %}
      {{ haettu_aika_alku}} alkaen 
      {% endif %}

      {% if haettu_aika_loppu %}
      {{ haettu_aika_loppu }} asti
      {% endif %}
      </p>

<ul class="list-group">
  {% for viesti in viestit.items %}
  <li class="list-group-item">
    <h3>
      <a href="{{ url_for('viesti', viesti_id = viesti.id) }}"
        >{{ viesti.otsikko }}

        <small
          >{{ viesti.kirjoittaja.nimi }}
          {{ viesti.kirjoitusaika.strftime("%d.%m. %Y %H:%M") }}

          {% if viesti.ovatko_kaikki_lukeneet() %} KAIKKI LUKENEET {% elif
          viesti.onko_lukenut(current_user) %} LUETTU {% else %} UUSI {% endif
          %}
        </small>
      </a>
    </h3>
  </li>
  {% endfor %}
</ul>
{% endblock %}
