{% extends "layout.html" %} {% block content %}
<h1>Viestit</h1>
<ul class="list-group">
  {% for viesti in viestit %}
  <li class="list-group-item">
    <h3>
      <a href="{{ url_for('viesti', viesti_id = viesti.id) }}"
        >{{ viesti.otsikko }}

        <small
          >{{ viesti.kirjoittaja.nimi }}
          {{ viesti.kirjoitusaika.strftime("%d.%m. %Y %H:%M") }}

          {% if viesti.ovatko_kaikki_lukeneet() %} KAIKKI LUKENEET {% elif
          viesti.onko_lukenut(current_user) %} LUETTU {% else %} UUSI {% endif
          %}
        </small>
      </a>
    </h3>
  </li>
  {% endfor %}
</ul>
{% endblock %}
