{% extends "layout.html" %} {% block content %}
<h1 class="page-header">
  {{ viesti.otsikko }}
  <small
    >{{ viesti.kirjoittaja.nimi }}
    {{ viesti.kirjoitusaika.strftime("%d.%m. %Y %H:%M") }}</small
  >
</h1>
{% if viesti.muokkausaika %}
<p>
Muokattu {{ viesti.muokkausaika.strftime("%d.%m. %Y %H:%M")}}
</p>
{% endif %}

<p>
  {% if viesti.vastattu %} Vastaus viestiin
  <a href="{{ url_for('viesti', viesti_id=viesti.vastattu.id )}}">
    {{ viesti.vastattu.otsikko }}</a
  >. {% endif%}
</p>

<div class="well">{{ viesti.teksti }}</div>

<button
  id="avaa_vastaus_nappi"
  class="btn btn-primary"
  data-toggle="collapse"
  href="#vastauslomake"
  aria-expanded="false"
  aria-controls="vastauslomake"
  onclick="this.innerHTML = this.innerHTML === 'Sulje vastauslomake' ? 'Vastaa' : 'Sulje vastauslomake'"
>
  Vastaa
</button>
<div class="collapse" id="vastauslomake">
  {{ wtf.quick_form(vastaus_lomake, action=url_for('viestit_luo'), button_map={"nappi" : "success"}) }}
</div>

{% if viesti.aiheet|length() > 0 %}
<h3>Aihetunnisteet</h3>
<ul class="list-group">
  {% if aihe is iterable %} {% for aihe in viesti.aiheet %}
  <li class="list-group-item">{{ aihe.aihe }}</li>
  {% endfor %} {% endif %}
</ul>
{% endif %} {% if viesti.vastaukset|length() > 0 %}
<h3>Vastaukset</h3>
<ul class="list-group">
  {% for vastaus in viesti.vastaukset %}
  <li class="list-group-item">
    <a href="{{ url_for('viesti', viesti_id=vastaus.id ) }}">
      {{ vastaus.otsikko }}, {{ vastaus.kirjoittaja.nimi }},
      {{ vastaus.kirjoitusaika.strftime("%d.%m. %Y %H:%M") }}
    </a>
  </li>
  {% endfor %}
</ul>
{% endif %} {% if viesti.lukeneet|length() > 0 %}
<h3>Lukeneet</h3>
<ul class="list-group">
  {% for lukija in viesti.lukeneet %}
  <li class="list-group-item">{{ lukija.nimi }}</li>
  {% endfor %}
</ul>
<p>
<button
  id="avaa_muokkaus_nappi"
  class="btn btn-primary"
  data-toggle="collapse"
  href="#muokkauslomake"
  aria-expanded="false"
  aria-controls="muokkauslomake"
  onclick="this.innerHTML = this.innerHTML === 'Sulje muokkauslomake' ? 'Muokkaa viestiä' : 'Sulje muokkauslomake'"
>
  Muokkaa viestiä
</button>
<div class="collapse" id="muokkauslomake">
  {{ wtf.quick_form(muokkaus_lomake, action=url_for('viestit_muokkaa',viesti_id=viesti.id), button_map={"nappi" : "success"}) }}
</div>
</p>
<p>
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#tuhoaviestidialogi">Tuhoa viesti</button>
  
  <div class="modal fade" tabindex="-1" role="dialog" id="tuhoaviestidialogi" aria-labelledby="Tuhotaanko viesti varmasti?">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            Haluatko varmasti poistaa viestin "{{ viesti.otsikko }}"?
          </div>
        <div class="modal-footer">
          <table class="table">
            <tr>
              <td>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Peruuta</button>
              </td>
              <td>
                <form
                  action="{{ url_for('viestit_poista', viesti_id = viesti.id) }}"
                  method="POST"
                >
                  <input class="btn btn-danger" type="submit" value="Tuhoa viesti" />
                </form>
              </td>
            </tr>
          </table>
         </div>
      </div>
    </div>
  </div>
</p>
{% endif%} {% endblock %}
