{% extends "layout.html" %} {% block content %}
<h1>Viestien aihetunnisteet</h1>
<h2>Lisää uusi aihetunniste</h2>
<form method="POST" , action="{{ url_for('aiheet_luo') }}">
  <table>
    <tr>
      <td>
        {{ form.aihe.label }}
      </td>
      <td>
        {{ form.aihe }}
      </td>
      <td>
        <ul>
          {% for error in form.aihe.errors %}
          <li>
            {{ error }}
          </li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="Lisää" />
      </td>
    </tr>
  </table>
</form>

<h2>Aiheet</h2>
<table>
  {% for aihe in aiheet %}
  <tr>
    <td>
      <a href="/aiheet/{{ aihe.id }}">{{ aihe.aihe }}</a>
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
