{% extends "layout.html" %} {% block content %}
<h1>Tilastot</h1>
<h2>Eniten viestejä kirjoittaneet käyttäjät</h2>

<table class="table-striped">
  {% for rivi in eniten_kirjoittaneet_kayttajat %}
  <tr>
    <td>{{ rivi.nimi }}</td>
    <td>{{ rivi.viestien_lkm }}</td>
  </tr>
  {% endfor %}
</table>

<h2>Eniten viestejä kirjoittaneet ryhmät</h2>
<table class="table-striped">
  {% for rivi in eniten_kirjoittaneet_ryhmat %}
  <tr>
    <td>
      {{ rivi.nimi }}
    </td>
    <td>
      {{ rivi.viestien_lkm }}
    </td>
  </tr>
  {% endfor%}
</table>

<h2>Suosituimmat aiheet</h2>
<table class="table-striped">
  {% for rivi in suosituimmat_aiheet %}
  <tr>
    <td>{{ rivi.aihe }}</td>
    <td>{{ rivi.viestien_lkm }}</td>
  </tr>
  {% endfor %}
</table>

<h2>Ryhmien kirjoitusten aihejakaumat</h2>
<table class="table-striped">
  <tr>
    <td>Ryhmä</td>
    <td>Aihe</td>
    <td>Viestejä</td>
  </tr>
  {% for rivi in ryhmien_aihe_jakaumat %}
  <tr>
    <td>{{ rivi.ryhma }}</td>
    <td>{{ rivi.aihe }}</td>
    <td>{{ rivi.viestien_lkm }}</td>
  </tr>

  {% endfor %}
</table>

{% endblock %}
